
# Read The Data

In [167]:
import json

fs=open("record.json","r")
r= fs.read()
fs.close()

records=json.loads(r)

In [168]:
records

{'1001': {'name': 'Choco Cake', 'qn': 25, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 92},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 89},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 993},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 93},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 6},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 0},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 6},
 '1010': {'name': 'milk', 'qn': 25, 'pr': 20},
 '1011': {'name': 'toy car', 'qn': 199, 'pr': 150},
 '1012': {'name': 'notebook', 'qn': 295, 'pr': 55},
 '1013': {'name': 'Book', 'qn': 149, 'pr': 200},
 '1014': {'name': 'mouse', 'qn': 594, 'pr': 300},
 '1015': {'name': 'Pencils', 'qn': 476, 'pr': 5},
 '1016': {'name': 'penciles', 'qn': 30, 'pr': 6}}

In [169]:
records.keys()

dict_keys(['1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1010', '1011', '1012', '1013', '1014', '1015', '1016'])

In [170]:

user_id=str(input("ENTER THE PRODUCT ID =>>"))
user_qulity=int(input("ENTER THE QULITY ==>"))


if (user_id in records.keys()):
    print("***************************************")
    print("PRODUCT ::->",records[user_id]["name"])
    print("PRICE ::->",records[user_id]["pr"])
    print("******************************************")
    print("AMOUNT ::->",records[user_id]["pr"] * user_qulity)

    records[user_id]["qn"]= records[user_id]["qn"] - user_qulity
else:
    print("Sorry.......this id not valid")

ENTER THE PRODUCT ID =>>1009
ENTER THE QULITY ==>3
***************************************
PRODUCT ::-> Keyboard
PRICE ::-> 1999
******************************************
AMOUNT ::-> 5997



# Update The inventory

In [171]:

js=json.dumps(records)

fs=open("record.json","w")
fs.write(js)
fs.close()

In [172]:
records

{'1001': {'name': 'Choco Cake', 'qn': 25, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 92},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 89},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 993},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 93},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 6},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 0},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 3},
 '1010': {'name': 'milk', 'qn': 25, 'pr': 20},
 '1011': {'name': 'toy car', 'qn': 199, 'pr': 150},
 '1012': {'name': 'notebook', 'qn': 295, 'pr': 55},
 '1013': {'name': 'Book', 'qn': 149, 'pr': 200},
 '1014': {'name': 'mouse', 'qn': 594, 'pr': 300},
 '1015': {'name': 'Pencils', 'qn': 476, 'pr': 5},
 '1016': {'name': 'penciles', 'qn': 30, 'pr': 6}}

# sales json

In [173]:
import time

number=input("ENTER THE CUSTOMER NAME ==>")
sales[number]={'prod_id' : records[user_id], "time_pr" :  time.ctime(), 'bill' :records[user_id]["pr"] * user_qulity , 'qn' : user_qulity, 'pr' : records[user_id]["pr"], 'pr_name' : records[user_id]["name"]}
##sales[number] = {'prod_id' : records[user_id], "time_pr" :  time.ctime(), 'bill' :records[user_id]["pr"] * user_qulity , 'qn' : user_qulity, 'pr' : records[user_id]["pr"], 'pr_name' : records[user_id]["name"]}

##sell[customer_name]={'prod' : user_id, 'qn' : user_qulity, 'amount': records[user_id]['pr'] *  user_qulity ,"time" :time.ctime()}
js=json.dumps(sales)

fs=open("sales.json","w")
fs.write(js)
fs.close()

ENter the numberram

In [174]:
fs=open("sales.json","r")
r= fs.read()
fs.close()

sales=json.loads(r)

In [175]:
sales

{'2': {'prod_id': {'name': 'Choco Cake', 'qn': 25, 'pr': 100},
  'time_pr': 'Tue Sep  7 22:48:55 2021',
  'bill': 200,
  'qn': 2,
  'pr': 100,
  'pr_name': 'Choco Cake'},
 '3': {'prod_id': {'name': 'Phone', 'pr': 50000, 'qn': 6},
  'time_pr': 'Tue Sep  7 22:52:00 2021',
  'bill': 100000,
  'qn': 2,
  'pr': 50000,
  'pr_name': 'Phone'},
 'kiran': {'prod_id': {'name': 'Phone', 'pr': 50000, 'qn': 6},
  'time_pr': 'Tue Sep  7 22:53:24 2021',
  'bill': 100000,
  'qn': 2,
  'pr': 50000,
  'pr_name': 'Phone'},
 'ram': {'prod_id': {'name': 'Keyboard', 'pr': 1999, 'qn': 3},
  'time_pr': 'Tue Sep  7 22:53:49 2021',
  'bill': 5997,
  'qn': 3,
  'pr': 1999,
  'pr_name': 'Keyboard'}}