
# Read The Data

In [72]:
import json

fs=open("record.json","r")
r= fs.read()
fs.close()

records=json.loads(r)

In [73]:
records

{'1001': {'name': 'Choco Cake', 'qn': 27, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 94},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 94},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 993},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 95},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 9},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 3},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 8},
 '1010': {'name': 'milk', 'qn': 29, 'pr': 20},
 '1011': {'name': 'toy car', 'qn': 200, 'pr': 150},
 '1012': {'name': 'notebook', 'qn': 300, 'pr': 55},
 '1013': {'name': 'Book', 'qn': 149, 'pr': 200},
 '1014': {'name': 'mouse', 'qn': 596, 'pr': 300},
 '1015': {'name': 'Pencils', 'qn': 476, 'pr': 5}}

In [74]:

user_id=str(input("ENTER THE PRODUCT ID =>>"))
user_qulity=int(input("ENTER THE QULITY ==>"))

print("PRODUCT ::->",records[user_id]["name"])
print("PRICE ::->",records[user_id]["pr"])
print("AMOUNT ::->",records[user_id]["pr"] * user_qulity)

records[user_id]["qn"]= records[user_id]["qn"] - user_qulity

ENTER THE PRODUCT ID =>>1009
ENTER THE QULITY ==>2
PRODUCT ::-> Keyboard
PRICE ::-> 1999
AMOUNT ::-> 3998


# Update The inventory

In [75]:

js=json.dumps(records)

fs=open("record.json","w")
fs.write(js)
fs.close()

In [76]:
records

{'1001': {'name': 'Choco Cake', 'qn': 27, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 94},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 94},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 993},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 95},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 9},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 3},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 6},
 '1010': {'name': 'milk', 'qn': 29, 'pr': 20},
 '1011': {'name': 'toy car', 'qn': 200, 'pr': 150},
 '1012': {'name': 'notebook', 'qn': 300, 'pr': 55},
 '1013': {'name': 'Book', 'qn': 149, 'pr': 200},
 '1014': {'name': 'mouse', 'qn': 596, 'pr': 300},
 '1015': {'name': 'Pencils', 'qn': 476, 'pr': 5}}

# sales json

In [77]:


customer_id=str(input("ENTER THE CUSTOMER ID==>"))



sell[customer_id]={'prod' : user_id, 'qn' : user_qulity, 'amount': records[user_id]['pr'] *  user_qulity }

js=json.dumps(sell)
fs=open("sales.json","w")
fs.write(js)
fs.close()

ENTER THE CUSTOMER ID==>5

In [78]:
fs=open("sales.json","r")
r= fs.read()
fs.close()

sales=json.loads(r)

In [79]:
sales

{'prod': '1002',
 'qn': 2,
 'amount': 1600,
 '1': {'prod': '1002', 'qn': 2, 'amount': 1600},
 '3': {'prod': '1005', 'qn': 3, 'amount': 60},
 '4': {'prod': '1003', 'qn': 6, 'amount': 510},
 '5': {'prod': '1009', 'qn': 2, 'amount': 3998}}